<div class="container">
	<h1>Welcome "Person's Name!</h1>
		<div class="row">
			<h5 class="col m4">Past Workouts</h5>
			<h5 class="col m4">This Weeks!</h5>
			<h5 class="col m4">Stats</h5>
		</div>
</div>