<script>
	$(document).ready(function(){
      $('.parallax').parallax();
    });
        
</script>
  <div class="parallax-container">
    <div class="parallax"><img src="http://static1.squarespace.com/static/558cb34be4b081b4e6ee6c99/t/5591eb6ae4b0358385fe977c/1435626346906/FA13_Outdoor-Fitness_Soens_Z0C9757-22.jpg?format=1500w"></div>
  </div>
        
  <div class="section white">
    <div class="row container center">
      <h1 class="header">What is this place?</h1>
      <h6 class="grey-text text-darken-3 lighten-3">  You've reached the <span>breeding</span> ground for something most people have not yet found in their lives. <span>Accountability</span>. Here, we have created a tool that helps you grab this skill, control and conquer it.</h6>
    </div>
  </div>
<div class="parallax-container">
    <div class="parallax"><img src="http://elizabethkovar.com/wp-content/uploads/2013/10/Stephen_Matera_drn12-122.jpg"></div>
</div>
<div class="section white">
	<div class="row container center">
      <h1 class="header">How it works</h1>
      <h6 class="grey-text text-darken-3 lighten-3"><p>Our <span>90 day program</span> provides you with workouts for you, complete with video instruction <span>You</span> are responsible for yourself and turning in your assignments (in the form of self-recorded video submissions).</p>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="http://sethkhughes.com/wp-content/gallery/fitness/150078-bts.jpg"></div>
</div>
<div class="section white">
	<div class="row container center">
      <h1 class="header">How much does it cost?</h1>
      <h6 class="grey-text text-darken-3 lighten-3"><p>The whole 90 program only $90. <span> A dollar a day! </span>But yes, there's a catch. Promise not to navigate away before reading the rest of this. There's a $500 deposit that is required. We do not want to <span>keep this money</span>. REPEAT. We DO NOT want to keep this money. "What is the deposit for?" You may ask. Simply put, it is to ensure your success in the program. We are <span>challenging</span> you to finish the program. Our 90 day program. You do the workouts. You submit them. You get fit. You get your deposit back! Every single penny. We want you to win! But what happens if you dont complete your program in time? You can still feel good about your efforts. Like we said before, we do not want your money. The deposit that you provided will be going to great use. It gets <span>donated</span> in your name to one of the many organizations we have pre-screened. So, your bump in the road can become someones <span>miracle</span>.</p>
      <p>Check out the organizations you could be helping... </p>
      <p><a href="/organizations/earthjustice" class="btn">Earth Justice</a> <a href="/organizations/sgtpeppersfriends" class="btn">Sgt Pepper's Friends</a></p>
      <a href="/" class="btn">Back</a>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="http://www.aprilziegler.com/wp-content/uploads/2014/05/philadelphia-dog-photographer-01.jpg"></div>
</div>