<div id="base1" class="base">
	<div class="container">
		<div class="row">
				<div class="nav_btns col l4">
					<a href="/homepages/<%= session[:user_id] %>" class="waves-effect waves-light btn">Home Page</a>
				</div>
				<div id="bottom_nav_btn" class="nav_btns col l4">
					<a href="/sessions/destroy" class="waves-effect waves-light btn">Log Out</a>
				</div>
			<div class="col l6">
				<div class="view view-sixth">
					<img src="/assets/nutrition_page1.jpg" class="responsive-img z-depth-2">
					<div class="mask"></div>
					<div class="content col l12">
						<h1>Vegan</h1>
						<a href="/nutrition/vegan" class="info z-depth-2 waves-effect waves-light btn">Tips and Recipes</a>
					</div>
				</div>
			</div>
			<div class="col l6">
				<div class="view view-sixth">
					<img src="/assets/nutrition_page2.jpg" class="responsive-img z-depth-2">
					<div class="mask"></div>
					<div class="content col l12">
						<h1 id="gfdf">Gluten-free/Dairy-free</h1>
						<a href="/nutrition/gluten-free-dairy-free" class="info z-depth-2 waves-effect waves-light btn">Tips and Recipes</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row valign-wrapper">
			<div class="col l6">
				<div class="view view-sixth">
					<img src="/assets/nutrition_page5.jpg" class="responsive-img z-depth-2" id="bottom_right_cutting_board">
					<div class="mask"></div>
					<div class="content col l12">
						<h1>Vegetarian</h1>
						<a href="/nutrition/vegetarian" class="info z-depth-2 waves-effect waves-light btn">Tips and Recipes</a>
					</div>
				</div>
			</div>
			<div class="col l6">
				<div class="view view-sixth">
					<img src="/assets/nutrition_page3.jpg" class="responsive-img z-depth-2">
					<div class="mask"></div>
					<div class="content col l12">
						<h1>Paleo</h1>
						<a href="/nutrition/paleo" class="info z-depth-2 waves-effect waves-light btn">Tips and Recipes</a>
					</div>
				</div>
			</div>
		</div>
		<div id="background_box"></div>
		<h1>Nutrition</h1>
	</div>
</div>
