<div class="base">
	<div class="container">
		<div class="row">
			<div class="col l8">
				<video class="responsive-video vid" controls autoplay>
		  			<source src="/assets/hoof_movie.mp4" type="video/mp4">
				</video>
			</div>
			<div class="col l4">
				<div class="view view-tenth">
					<img class="responsive-img" src="http://www.viewtwoo.com/wp-content/uploads/2015/07/Realt%C3%A0-aumentata-fitness.jpg" />
					<div class="mask"></div>
					<div class="content col l12">
						<h2>About Us</h2>
						<p>Discover your full potential and see what the new you can accomplish!</p>
						<a href="#" class="info">Read More</a>
					</div>
				</div>
				<div class="view view-tenth">
					<img class="responsive-img" src="http://media4.popsugar-assets.com/files/2015/04/30/709/n/1922398/55af68aa_main-image.xxxlarge_2x.jpg" />
					<div class="mask"></div>
					<div class="content col l12">
						<form action="#">
							<h2>Log In Here</h2>
								<div class="input-field">

									<p id="email_input"><input type="text" class="browser-default" placeholder="Email"></p>
								</div>
								<div class="input-field">
									<p id="password_input"><input type="text" placeholder="Password"></p>
								</div>
						<a type="submit" class="info">Read More</a>
						</form>
					</div>
				</div>
			</div>	
		</div>
	</div>	
</div>
