<div class="container">
	<div class="row">
		<div class="">
			<div id="food" class="view view-second col-md-8">
				<!-- <img width="590px" height="420px" src="http://www.medicalnewstoday.com/content/images/articles/303/303308/woman-running-at-a-gym.jpg" /> -->
				<iframe src="https://player.vimeo.com/video/116548043?autoplay=1&loop=1&title=0&byline=0&portrait=0" width="900" height="506" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<!-- 				<div class="mask"></div>
				<div class="content">
					<h2>We teach Accountability</h2>
					<p>We provide the workouts and the means to success in your fitness goals. You can literally bet on yourself here, or give to a great cause</p>
					<a href="#" class="info">Read More</a>
				</div> -->
			</div>
		</div>
		<div class="view view-second col-md-6">
			<img width="310px" height="220px" src="http://www.hdwallpapersnew.net/wp-content/uploads/2015/06/female-fitness-photo-high-definition-full-screen-wallpaper-free.jpg" />
			<div class="mask"></div>
			<div class="content">
				<h2>Accountability</h2>
				<p>The key ingredient in changing your life is accountability</p>
				<a href="#" class="info">Read More</a>
			</div>
		</div>
		<div class="view view-second col-md-6">
			<img width="310px" height="220px" src="https://w-dog.net/wallpapers/3/5/511382735849063/home-workout-fitness-training.jpg" />
			<div class="mask"></div>
			<div class="content">
				<h2>Hover Style #2</h2>
				<p>Some description</p>
				<a href="#" class="info">Read More</a>
			</div>
		</div>
	</div>	
	<div class="row">
		<div class="view view-second photo col-md-3">
			<img width="310px" height="220px" src="http://pointrobertsartsandmusicfestival.com/wp-content/uploads/2015/04/cash-register.jpg" />
			<div class="mask"></div>
			<div class="content">
				<h2>Nutrition</h2>
				<p>Get the inside scoop on the latest fit food trends.</p>
				<a href="#" class="info">Read More</a>
			</div>
		</div>

		<div class="view view-second photo col-md-3">
			<img width="310px" height="220px" src="http://www.foodieturnedfit.com/wp-content/uploads/2015/05/Dollarphotoclub_57259941.jpg" />
			<div class="mask"></div>
			<div class="content">
				<h2>Nutrition</h2>
				<p>Get the inside scoop on the latest fit food trends.</p>
				<a href="#" class="info">Read More</a>
			</div>
		</div>

		<div class="view view-second photo col-md-3">
			<img width="310px" height="220px" src="http://i1.wp.com/www.acrosstwoworlds.net/wp-content/uploads/2015/03/TomsPic.jpg" />
			<div class="mask"></div>
			<div class="content">
				<h2>For a Cause</h2>
				<p>Your participation can change someones life forever.</p>
				<a href="#" class="info">Read More</a>
			</div>
		</div>

		<div class="view view-second photo col-md-3">
			<img width="310px" height="220px" src="http://brorecordings.com/wp-content/uploads/2015/09/fitness-body-hd-wallpapers-of-high-quality.jpg" />
			<div class="mask"></div>
			<div class="content">
				<h2>Nutrition</h2>
				<p>Get the inside scoop on the latest fit food trends.</p>
				<a href="#" class="info">Read More</a>
			</div>
		</div>
	</div>
</div>

