<h1>In the registration area</h1>

<form action="/users/payment" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

	<p>First Name</p>
	<input type="text" name="user[f_name]" id="First Name">
	<p>Last Name</p>
	<input type="text" name="user[l_name]" id="Last Name">
	<p>Email</p>
	<input type="text" name="user[email]" id="Email">
	<p>Password</p>
	<input type="password" name="user[password]" id="Password">
	<p>Password Confirmation</p>
	<input type="password" name="user[password_confirmation]" id="Password Confirmation">
	<p>Birthday</p>
	<input type="date" name="user[birthday]" id="Birthday">
	<p>Fitness Goals</p>
	<input type="text" name="user[fitness_goals]" id="Fitness Goals">
	<p>Lifestyle</p>
	<input type="text" name="user[lifestyle]" id="Lifestyle">
	<p>Organization</p>
	<input type="text" name="user[organization]" id="Organization">


	<p><button type="submit" id="Join">Join and Make Payment</button></p>
</form>