<div class="container">
  <%= form_tag subscribers_path do %>
    <article>
      <div class="row">
        <% if flash[:error].present? %>
          <div class="col s12" id="error_explanation">
            <p><%= flash[:error] %></p>
          </div>
        <% end %>
      </div>
      <div class="row">
        <div class="valign">
            <h5>Balance Due: $590.00 (incl. $500 refunded upon completion!)</h5>
        </div>
      </div>
    </article>
    <div class="row">
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="A month's subscription"
              data-amount="59000"
              data-locale="auto"></script>
    </div>
  <% end %>
</div>