
<div class="base">
	<div class="container">
		<div class="row">
			<div class="col s12 m3 l3">
				<div id="nav_btns" class="col l1 offset-l11">
					<a href="/about" class="waves-effect waves-light btn grey">Back</a>
				</div>
				<div class="row left-img ">
					<img src="/assets/forest.jpg" class="responsive-img z-depth-2">
				</div>
				<div class="row left-img">
					<img src="/assets/wolves.jpg" class="responsive-img ">
				</div>
				<div class="row left-img">
					<img src="/assets/clean_water.jpg" class="responsive-img z-depth-2">
				</div>
				<div class="row left-img">
					<img src="/assets/wind_solar_energy" class="responsive-img">
				</div>
			</div>
			<div id="logo" class="col l3">
				<img src="/assets/earth_justice_logo.png" class="responsive-img z-depth-3">
			</div>
			<div id="about" class="col l5 z-depth-4 left">
				<h3 class="center-align">We all have the right to a healthy environment</h3>
				<p class="flow-text">We are driven by a passion for justice and a commitment to excellence. We fight for the right of all to a healthy environment. We wield the power of law and the strength of partnership to take on critical environmental issues and bring about positive change. We exist because the Earth needs a good lawyer.</p>
			</div>
			<div class="col s12 m7 l9">
				<div class="row">
					<div id="video_div" class="video-container z-depth-3 right">
						<iframe id="video" src="https://player.vimeo.com/video/118338567?autoplay=1&loop=1&color=ffffff&title=0&byline=0&portrait=0" width="1300" height="1075" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div>
				</div>
			</div>
			<div class="row ">
				<p id="quote" class="center-align col l8">“I give to Earthjustice because no one works harder or smarter for the environment.”</p>
				<p id="quote_by" class="center-align col l4 offset-l4"> – Susan Britton, Earthjustice donor since 2007</p>
				<p id="link" class="center-align col l8 flow-text">Visit us at <a href="/"><img src="/assets/earth_justice_small_logo.gif" class="responsive-img z-depth-4"></a>.org</p>
			</div>
		</div>
	</div>
</div>